<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/my_budget.js"></script>
    <title>Регистрация</title>
</head>
<body>
    <form method="post" action="register">
        <p>Логин:</p>
        <input type="text" name="login" id="log1" required>
        <p>Пароль:</p>
        <input type="password" name="password" id="pas1" required>
        <p>Имя:</p>
        <input type="text" name="first_name" id="nam1" required>
        <p>Фамилия:</p>
        <input type="text" name="last_name" id="nam2" required>
        <p>Email:</p>
        <input type="email" name="email" id="email1" required>
        <p><input type="submit" id="sub1" value="Зарегистрироваться"></p>
    </form>
</body>
</html>